<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domestic Animal Classificatio</title>
</head>
<body>
    <h1>Domestic Animal Classification</h1>
    <form action="/image" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile">
        <button type="submit">Predict</button>
    </form>
    <div id="result"></div>

    <script>
        document.querySelector('form').addEventListener('submit', async function(event) {
            event.preventDefault();
            
            const formData = new FormData();
            formData.append('myfile', document.querySelector('input[type=file]').files[0]);

            const response = await fetch('/image', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            document.getElementById('result').textContent = result;
        });
    </script>
</body>
</html>
